.graphcalc {
	width: 420px;
	height: 460px;
	background-color: #E0E0E0;
	text-align: center;
	position: absolute;
}

.graphcalc canvas {
	width: 400px;
	height: 350px;
	display: block;
	margin: 10px;
	border-color: black;
	border-width: 1;
	border-style: solid;
	background-color: white;
}

.graphcalc label {
	margin: 6px;
}
.graphcalc input[type="text"] {
	font-size: 10pt;
	height: 20px;
	margin: 4px;
}
.graphcalc button {
	font-size: 13pt;
	font-family: "Times New Roman";
	font-weight: bold;
	width: 100px;
	height: 25px;
	margin: 3px;
	border-radius: 15px;
*/
}
